Address = 193.169.81.251
Subnet = {{tinc_ip}}/32
Subnet = 10.10.10.0/24

-----BEGIN RSA PUBLIC KEY-----
MIICCgKCAgEA0xD+yUTFgxpzKL2LRNQl7l179QYyt7cuieFXo/pzMGYQF1Hv7K93
mVVBk1E52scWxnulkZ+MvLJ/hGvB27uSw5otw4e+rH0KEx/oK0nMWKQPnV/dh/ge
2aYAipIQVLOGhqilcIbiEYesjNf0/1bFBZjKNduF54ZVddbCP4RJpUn/jcce0WLY
sBxGMTEPkorpvX9Ve8EEr3GeR2ZoDth13TW7p3gVoy0s/TSTbjv2bvAb9DqAv7+b
r53c766xZWGDy6EGQeLabLi+XU58xUAqCccMROAv82D4FGj/qXXGXSdRQkDyKrvK
zzHNTdGA39O7h98CzAYWOYrAh4MqXaB1TMTJcXYDpOtSJ6ofEf/22Ea4WKM3M7dV
Fu63qR89JEH0r78C1Mi5AkXJBsf78EMwQdOT5HbJPHEH0Oi0A6hAtzOBwmZp5+Jl
KOmBvo3ULFu7Lqx86AR9NQETjx+CdAnw4wid8HxJmeyYFyv+oU6aWNFoxJU6GEWV
bYJEzbwWeNHa5kRdIrCSAWZit+4ebPPXKHc6yJ9yAWfpoiB8AxPtZbw1KuTg+8rO
TclFfnE9IKDvckpRjxDz/2nyXE3L5XVOaA0bVJdJw7xL0IIi6W9hPBK6Bn96KOn/
xR6ar6RmJ9YLKqoRInPSd19w8wQ0qJB/RoIVa6dsBpcyjxvP7L8ASN0CAwEAAQ==
-----END RSA PUBLIC KEY-----
