#!/bin/sh
ip link set $INTERFACE up
ip address add {{tinc_ip}}/32 dev $INTERFACE
#routes for all nets
{% for node in groups['all'] %}
{% if (node != inventory_hostname) %}
{% for list in  hostvars[node]['networks'] %}
{{list}}
{%endfor%}
{% endif %}
{%endfor%}
